In [1]:
import pandas as pd
import gzip
import csv
import json
import pandas as pd
from zipfile import ZipFile
import requests as req
from bs4 import BeautifulSoup as bs
import pandas as pd
from pprint import pprint
from lxml import html
from lxml.html import fromstring
import urllib.request
from urllib.request import urlopen
import random
import re
import scrapy

In [ ]:
#import csv con pandas

#df = pd.read_csv (r'Path where the CSV file is stored\Filename.csv')

In [ ]:
#The Oktoberfest in Munich is the biggest Volksfest in the world. It takes place since 1810 and attracts 
#every year about six million guests.


#Every four years (every three years until 1996) the Bavarian Central Agriculture Fest takes 
#place in parallel, consequently reducing the available seats.

In [ ]:
'''Columns:
id
year
guests total (millions)
guests daily (thousands)
beer price (1 litre)
beer consumption (hectolitres)
roasted chicken (hendl) price
roasted chicken consumption'''

In [ ]:
'''# importing required modules
from zipfile import ZipFile
  
# specifying the zip file name
file_name = "my_python_files.zip"
  
# opening the zip file in READ mode
with ZipFile(file_name, 'r') as zip:
    # printing all the contents of the zip file
    zip.printdir()
  
    # extracting all the files
    print('Extracting all the files now...')
    zip.extractall()
    print('Done!')'''

#https://www.geeksforgeeks.org/working-zip-files-python/

In [ ]:
#read CSV OKTOBERFEST Beerconsumption  --> https://opendata.muenchen.de/dataset/oktoberfest

In [11]:
file_name ='/Users/jeffworker/Documents/GitHub/Bootcamp/Project_Week_4/Raw Data/archivo.zip'
file_name

'/Users/jeffworker/Documents/GitHub/Bootcamp/Project_Week_4/Raw Data/archivo.zip'

In [12]:
with ZipFile(file_name, 'r') as zip:
    zip.printdir()

File Name                                             Modified             Size
oktoberfest.csv                                2022-07-31 12:11:04         1528

In [23]:
df_oktoberfest = pd.read_csv (r'/Users/jeffworker/Documents/GitHub/Bootcamp/Project_Week_4/Raw Data/oktoberfest.csv')
df_oktoberfest.tail()

,year,duration,guests_total,guests_daily,beer_price,beer_consumption,roast_chicken_price,roast_chicken_consumption
30,2015,16,5.9,369,10.27,75134,10.75,503510
31,2016,17,5.6,329,10.57,66231,11.00,366876
32,2017,18,6.2,344,10.87,77836,11.41,466747
33,2018,16,6.3,394,11.30,78705,11.67,436492
34,2019,16,6.3,394,11.71,78502,12.15,434998