In [1]:
import pandas as pd
import gzip
import csv
import json
import pandas as pd
from zipfile import ZipFile
import requests as req
from bs4 import BeautifulSoup as bs
import pandas as pd
from pprint import pprint
from lxml import html
from lxml.html import fromstring
import urllib.request
from urllib.request import urlopen
import random
import re
import scrapy

In [ ]:
#import csv con pandas

#df = pd.read_csv (r'Path where the CSV file is stored\Filename.csv')

In [ ]:
#The Oktoberfest in Munich is the biggest Volksfest in the world. It takes place since 1810 and attracts 
#every year about six million guests.


#Every four years (every three years until 1996) the Bavarian Central Agriculture Fest takes 
#place in parallel, consequently reducing the available seats.

In [ ]:
'''Columns:
id
year
guests total (millions)
guests daily (thousands)
beer price (1 litre)
beer consumption (hectolitres)
roasted chicken (hendl) price
roasted chicken consumption'''

In [ ]:
'''# importing required modules
from zipfile import ZipFile
  
# specifying the zip file name
file_name = "my_python_files.zip"
  
# opening the zip file in READ mode
with ZipFile(file_name, 'r') as zip:
    # printing all the contents of the zip file
    zip.printdir()
  
    # extracting all the files
    print('Extracting all the files now...')
    zip.extractall()
    print('Done!')'''

#https://www.geeksforgeeks.org/working-zip-files-python/

In [ ]:
#read CSV OKTOBERFEST Beerconsumption  --> https://opendata.muenchen.de/dataset/oktoberfest

In [11]:
file_name ='/Users/jeffworker/Documents/GitHub/Bootcamp/Project_Week_4/Raw Data/archivo.zip'
file_name

'/Users/jeffworker/Documents/GitHub/Bootcamp/Project_Week_4/Raw Data/archivo.zip'

In [12]:
with ZipFile(file_name, 'r') as zip:
    zip.printdir()

File Name                                             Modified             Size
oktoberfest.csv                                2022-07-31 12:11:04         1528

In [4]:
df_oktoberfest = pd.read_csv (r'/Users/jeffworker/Documents/GitHub/Bootcamp/Project_Week_4/Raw Data/oktoberfest.csv')
df_oktoberfest.tail()

,year,duration,guests_total,guests_daily,beer_price,beer_consumption,roast_chicken_price,roast_chicken_consumption
30,2015,16,5.9,369,10.27,75134,10.75,503510
31,2016,17,5.6,329,10.57,66231,11.00,366876
32,2017,18,6.2,344,10.87,77836,11.41,466747
33,2018,16,6.3,394,11.30,78705,11.67,436492
34,2019,16,6.3,394,11.71,78502,12.15,434998

In [8]:
aux = df_oktoberfest.T

In [9]:
aux.head()

,0,1,2,3,4,5,6,7,8,9,...,25,26,27,28,29,30,31,32,33,34
year,1985.0,1986.0,1987.00,1988.00,1989.0,1990.00,1991.00,1992.00,1993.00,1994.00,...,2010.00,2011.00,2012.00,2013.00,2014.00,2015.00,2016.00,2017.00,2018.0,2019.00
duration,16.0,16.0,16.00,16.00,16.0,16.00,16.00,16.00,16.00,16.00,...,17.00,17.00,16.00,16.00,16.00,16.00,17.00,18.00,16.0,16.00
guests_total,7.1,6.7,6.50,5.70,6.2,6.70,6.40,5.90,6.50,6.60,...,6.40,6.90,6.40,6.40,6.30,5.90,5.60,6.20,6.3,6.30
guests_daily,444.0,419.0,406.00,356.00,388.0,419.00,400.00,369.00,406.00,413.00,...,376.00,406.00,400.00,400.00,394.00,369.00,329.00,344.00,394.0,394.00
beer_price,3.2,3.3,3.37,3.45,3.6,3.77,4.21,4.42,4.71,4.89,...,8.79,9.09,9.41,9.78,9.98,10.27,10.57,10.87,11.3,11.71

In [10]:
aux = aux.drop(aux.columns[[0,1,2,3,4,5,6,7,8,9,10,11]],axis = 1)

In [11]:
aux.head()

,12,13,14,15,16,17,18,19,20,21,...,25,26,27,28,29,30,31,32,33,34
year,1997.00,1998.0,1999.0,2000.00,2001.00,2002.00,2003.00,2004.00,2005.00,2006.00,...,2010.00,2011.00,2012.00,2013.00,2014.00,2015.00,2016.00,2017.00,2018.0,2019.00
duration,16.00,16.0,16.0,18.00,16.00,16.00,16.00,16.00,17.00,18.00,...,17.00,17.00,16.00,16.00,16.00,16.00,17.00,18.00,16.0,16.00
guests_total,6.40,6.5,6.5,6.90,5.50,5.90,6.30,5.90,6.10,6.50,...,6.40,6.90,6.40,6.40,6.30,5.90,5.60,6.20,6.3,6.30
guests_daily,400.00,406.0,406.0,383.00,344.00,369.00,394.00,369.00,359.00,361.00,...,376.00,406.00,400.00,400.00,394.00,369.00,329.00,344.00,394.0,394.00
beer_price,5.45,5.6,5.8,6.35,6.47,6.75,6.75,7.02,7.15,7.42,...,8.79,9.09,9.41,9.78,9.98,10.27,10.57,10.87,11.3,11.71

In [12]:
aux = aux.drop(aux.columns[[0,1,2]],axis = 1)

In [14]:
oktoberfest = aux.T

In [15]:
oktoberfest.head()

,year,duration,guests_total,guests_daily,beer_price,beer_consumption,roast_chicken_price,roast_chicken_consumption
15,2000.0,18.0,6.9,383.0,6.35,64591.0,7.85,681242.0
16,2001.0,16.0,5.5,344.0,6.47,48698.0,8.12,351705.0
17,2002.0,16.0,5.9,369.0,6.75,57614.0,8.10,459259.0
18,2003.0,16.0,6.3,394.0,6.75,62294.0,8.14,487487.0
19,2004.0,16.0,5.9,369.0,7.02,61163.0,8.28,481649.0

In [16]:
oktoberfest.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 15 to 34
Data columns (total 8 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   year                       20 non-null     float64
 1   duration                   20 non-null     float64
 2   guests_total               20 non-null     float64
 3   guests_daily               20 non-null     float64
 4   beer_price                 20 non-null     float64
 5   beer_consumption           20 non-null     float64
 6   roast_chicken_price        20 non-null     float64
 7   roast_chicken_consumption  20 non-null     float64
dtypes: float64(8)
memory usage: 1.4 KB

In [ ]:
# displaying the datatypes
display(df.dtypes)

# converting 'Weight' from float to int
df['Weight'] = df['Weight'].astype(int)

# displaying the datatypes
display(df.dtypes)

In [17]:
oktoberfest['year'] = oktoberfest['year'].astype(int)

In [19]:
oktoberfest['duration'] = oktoberfest['duration'].astype(int)

In [21]:
oktoberfest.head()

,year,duration,guests_total,guests_daily,beer_price,beer_consumption,roast_chicken_price,roast_chicken_consumption
15,2000,18,6.9,383.0,6.35,64591.0,7.85,681242.0
16,2001,16,5.5,344.0,6.47,48698.0,8.12,351705.0
17,2002,16,5.9,369.0,6.75,57614.0,8.10,459259.0
18,2003,16,6.3,394.0,6.75,62294.0,8.14,487487.0
19,2004,16,5.9,369.0,7.02,61163.0,8.28,481649.0

In [22]:
oktoberfest.to_csv('oktoberfest_final.csv', index = False)

NameError: name 'oktoberfest' is not defined