In [1]:
import pandas as pd
import gzip
import csv
import json
import pandas as pd
from zipfile import ZipFile
import requests as req
from bs4 import BeautifulSoup as bs
import pandas as pd
from pprint import pprint
from lxml import html
from lxml.html import fromstring
import urllib.request
from urllib.request import urlopen
import random
import re
import scrapy

In [2]:
#https://en.tutiempo.net/climate/ws-108660.html

In [3]:
%pip install selenium

Requirement already satisfied: selenium in /Users/jeffworker/opt/anaconda3/lib/python3.9/site-packages (4.4.0)
Requirement already satisfied: urllib3[secure,socks]~=1.26 in /Users/jeffworker/opt/anaconda3/lib/python3.9/site-packages (from selenium) (1.26.9)
Requirement already satisfied: trio-websocket~=0.9 in /Users/jeffworker/opt/anaconda3/lib/python3.9/site-packages (from selenium) (0.9.2)
Requirement already satisfied: trio~=0.17 in /Users/jeffworker/opt/anaconda3/lib/python3.9/site-packages (from selenium) (0.21.0)
Requirement already satisfied: idna in /Users/jeffworker/opt/anaconda3/lib/python3.9/site-packages (from trio~=0.17->selenium) (3.3)
Requirement already satisfied: sortedcontainers in /Users/jeffworker/opt/anaconda3/lib/python3.9/site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: outcome in /Users/jeffworker/opt/anaconda3/lib/python3.9/site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: attrs>=19.2.0 in /Users/jeffworker/opt/anaconda3/lib/python3.9/site-packages (from trio~=0.17->selenium) (21.4.0)
Requirement already satisfied: async-generator>=1.9 in /Users/jeffworker/opt/anaconda3/lib/python3.9/site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: sniffio in /Users/jeffworker/opt/anaconda3/lib/python3.9/site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: wsproto>=0.14 in /Users/jeffworker/opt/anaconda3/lib/python3.9/site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: certifi in /Users/jeffworker/opt/anaconda3/lib/python3.9/site-packages (from urllib3[secure,socks]~=1.26->selenium) (2021.10.8)
Requirement already satisfied: cryptography>=1.3.4 in /Users/jeffworker/opt/anaconda3/lib/python3.9/site-packages (from urllib3[secure,socks]~=1.26->selenium) (3.4.8)
Requirement already satisfied: pyOpenSSL>=0.14 in /Users/jeffworker/opt/anaconda3/lib/python3.9/site-packages (from urllib3[secure,socks]~=1.26->selenium) (21.0.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in /Users/jeffworker/opt/anaconda3/lib/python3.9/site-packages (from urllib3[secure,socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: cffi>=1.12 in /Users/jeffworker/opt/anaconda3/lib/python3.9/site-packages (from cryptography>=1.3.4->urllib3[secure,socks]~=1.26->selenium) (1.15.0)
Requirement already satisfied: pycparser in /Users/jeffworker/opt/anaconda3/lib/python3.9/site-packages (from cffi>=1.12->cryptography>=1.3.4->urllib3[secure,socks]~=1.26->selenium) (2.21)
Requirement already satisfied: six>=1.5.2 in /Users/jeffworker/opt/anaconda3/lib/python3.9/site-packages (from pyOpenSSL>=0.14->urllib3[secure,socks]~=1.26->selenium) (1.16.0)
Requirement already satisfied: h11<1,>=0.9.0 in /Users/jeffworker/opt/anaconda3/lib/python3.9/site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.13.0)
Note: you may need to restart the kernel to use updated packages.

In [4]:
%pip install webdriver_manager

Requirement already satisfied: webdriver_manager in /Users/jeffworker/opt/anaconda3/lib/python3.9/site-packages (3.8.3)
Requirement already satisfied: python-dotenv in /Users/jeffworker/opt/anaconda3/lib/python3.9/site-packages (from webdriver_manager) (0.20.0)
Requirement already satisfied: requests in /Users/jeffworker/opt/anaconda3/lib/python3.9/site-packages (from webdriver_manager) (2.27.1)
Requirement already satisfied: tqdm in /Users/jeffworker/opt/anaconda3/lib/python3.9/site-packages (from webdriver_manager) (4.64.0)
Requirement already satisfied: idna<4,>=2.5 in /Users/jeffworker/opt/anaconda3/lib/python3.9/site-packages (from requests->webdriver_manager) (3.3)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /Users/jeffworker/opt/anaconda3/lib/python3.9/site-packages (from requests->webdriver_manager) (1.26.9)
Requirement already satisfied: charset-normalizer~=2.0.0 in /Users/jeffworker/opt/anaconda3/lib/python3.9/site-packages (from requests->webdriver_manager) (2.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /Users/jeffworker/opt/anaconda3/lib/python3.9/site-packages (from requests->webdriver_manager) (2021.10.8)
Note: you may need to restart the kernel to use updated packages.

In [5]:
import pandas as pd
from selenium.webdriver.chrome.options import Options
from webdriver_manager.chrome import ChromeDriverManager
from selenium import webdriver

In [6]:
PATH=ChromeDriverManager().install()

[WDM] - Downloading: 100%|█████████████████| 8.15M/8.15M [00:02<00:00, 3.09MB/s]

In [7]:
from selenium.webdriver.common.by import By

In [8]:
#Extract historical weather data from Munich

In [9]:
url= 'https://en.tutiempo.net/climate/ws-108660.html'

In [10]:
driver=webdriver.Chrome(PATH)
driver.get(url)

/var/folders/bl/k3sl29m953728l636_vh_6dw0000gn/T/ipykernel_21702/2317264644.py:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver=webdriver.Chrome(PATH)

In [11]:
# Accesing the Title with the path

In [12]:
titulos_= driver.find_element(By.XPATH, '//*[@id="ColumnaIzquierda"]/div/div[6]/table/tbody/tr[1]')
titulos_

In [21]:
titular = []

titulo = titulos_.find_elements(By.TAG_NAME, 'th')


for i in range(len(titulo)):
    contenido= titulo[i].text
    titular.append(contenido)
titular

['Year', 'T', 'TM', 'Tm', 'PP', 'V', 'RA', 'SN', 'TS', 'FG', 'TN', 'GR']

In [14]:
#Data of the table

In [94]:
tabla = driver.find_element(By.XPATH,'//*[@id="ColumnaIzquierda"]/div/div[6]/table/tbody')

filas = tabla.find_elements(By.TAG_NAME, 'tr')

data=[]

for fila in filas:
    elementos = fila.find_elements(By.TAG_NAME,'td')
    t = []
    for e in elementos:
        t.append(e.text)
    data.append(t)

In [103]:
tabla=pd.DataFrame(data, columns=titular)
tabla.head()

   Year     T    TM    Tm    PP     V    RA    SN    TS    FG    TN    GR
0  None  None  None  None  None  None  None  None  None  None  None  None
1  1939     -     -     -     -     -     -     -     -     -     -     -
2  1940   6.5  10.9   1.8     -  15.7   161    67    14    50     0     1
3  1941   7.0  11.2   2.4     -  15.3   161    59    12    51     0     2
4  1942   7.2  12.0   2.5     -  13.7   138    59    16    75     1     1

In [106]:
tabla= tabla.drop(index=0)

In [109]:
tabla.head(50)

    Year    T    TM   Tm       PP     V   RA  SN  TS   FG TN  GR
1   1939    -     -    -        -     -    -   -   -    -  -   -
2   1940  6.5  10.9  1.8        -  15.7  161  67  14   50  0   1
3   1941  7.0  11.2  2.4        -  15.3  161  59  12   51  0   2
4   1942  7.2  12.0  2.5        -  13.7  138  59  16   75  1   1
5   1943  8.8  13.9  3.9        -  14.4  155  42  14   53  1   0
6   1946    -     -    -        -     -    -   -   -    -  -   -
7   1947  8.2  13.4  2.6        -  14.0  149  77  18  137  0   0
8   1948    -     -    -        -     -    -   -   -    -  -   -
9   1949  8.6  13.7  3.8        -  13.3  181  51  25   66  0   5
10  1950  8.8  13.4  4.3        -  12.1  201  60  31   42  0   4
11  1951  8.4  12.9  4.1        -  10.3  195  43  29   74  0   8
12  1952  8.1  12.3  3.9        -  11.4  196  82  24   54  0   1
13  1953  8.4  13.3  4.1        -   9.4  166  53  26   71  0   3
14  1954  7.4  11.7  3.7        -  11.0  215  58  22   48  0   3
15  1955  7.3  11.7  3.4        -   9.6  203  67  30   69  0   2
16  1956  6.6  11.1  2.5        -  10.6  177  78  36   67  0   1
17  1957  8.2  12.6  4.3        -  10.4  202  42  31   66  0   7
18  1958  8.1  12.5  4.0        -  11.5  206  55  23   54  0   5
19  1959    -     -    -        -     -    -   -   -    -  -   -
20  1960  8.3  12.5  4.5        -  11.9  179  58  19   40  0   2
21  1961    -     -    -        -     -    -   -   -    -  -   -
22  1962    -     -    -        -     -    -   -   -    -  -   -
23  1963    -     -    -        -     -    -   -   -    -  -   -
24  1964    -     -    -        -     -  153  49  15   60  0   1
25  1965  7.5  11.9  3.7        -  13.0  186  70  18   40  0   2
26  1966  8.8  13.2  5.0        -  12.2  182  60  19   45  0   2
27  1967  9.0  13.8  4.8   918.56  12.5  163  55  15   43  0   1
28  1968  8.2  12.5  4.4   922.65  11.8  167  53  18   44  0   1
29  1969  7.6  12.1  3.3        -  11.3  142  69  26   56  0   0
30  1970  7.5  11.7  3.4        -  13.3  182  74  21   53  0   7
31  1971    -     -    -        -     -    -   -   -    -  -   -
32  1973  7.5  11.9  2.9  1230.34  11.6  176  85  31   51  0   3
33  1974  8.5  12.9  4.0  1060.40  12.5  223  45  35   57  0   8
34  1975  8.0  12.3  3.6   859.59  10.4  175  45  36   61  0   2
35  1976  7.8  12.5  3.0   850.42  11.1  176  53  27   84  0   4
36  1977  8.5  12.9  3.9   973.81  11.3  206  56  33   74  0   6
37  1978  7.3  11.5  2.9  1063.02  10.9  202  61  44   65  0   5
38  1979  7.9  12.5  3.3  1137.70  10.6  208  80  30   57  0   5
39  1980  7.3  11.7  3.0  1091.98  11.6  203  81  27   52  1   9
40  1981  8.0  12.7  3.3  1187.93  12.0  201  91  26   52  0   9
41  1982  8.3  13.3  3.4   810.25  10.0  205  70  31   77  0   8
42  1983  8.6  13.8  3.3   940.83  10.4  195  52  40   57  0   8
43  1984  7.3  12.1  2.4   882.10  10.1  183  63  29  100  0   5
44  1985  7.1  12.2  2.0  1010.45  10.4  185  87  35   72  0   5
45  1986  7.8  12.9  2.7   884.99  11.3  189  68  39   72  0   4
46  1987  7.5  12.2  2.9  1099.83  14.3  210  64  29   58  0   7
47  1988  8.8  13.5  4.3   996.42  12.1  224  74  27   52  1   7
48  1989  8.9  14.0  4.0   868.94   9.8  211  34  34   87  0   8
49  1990  8.9  14.3  3.7  1182.07  10.6  210  49  48   74  0  10
50  1991  7.9  12.9  2.9   910.32  10.9  200  63  25   67  0  11

In [108]:
tabla.shape

(81, 12)

In [17]:
#Get references from the titles

In [24]:
filas= driver.find_elements(By.XPATH, '//*[@id="ColumnaIzquierda"]/div/table/tbody')
rows =[]

for row in range(len(filas)):
    rows.append(filas[row].text)

rows

['T Average annual temperature\nTM Annual average maximum temperature\nTm Average annual minimum temperature\nPP Rain or snow precipitation total annual\nV Annual average wind speed\nRA Number of days with rain\nSN Number of days with snow\nTS Number of days with storm\nFG Number of foggy days\nTN Number of days with tornado\nGR Number of days with hail']

In [29]:
rows2= []

for i in rows:
    rows2.append(i.replace('\n', " "))
rows2

['T Average annual temperature TM Annual average maximum temperature Tm Average annual minimum temperature PP Rain or snow precipitation total annual V Annual average wind speed RA Number of days with rain SN Number of days with snow TS Number of days with storm FG Number of foggy days TN Number of days with tornado GR Number of days with hail']

In [52]:
reference = ['T', 'TM', 'Tm', 'PP', 'V', 'RA', 'SN', 'TS', 'FG', 'TN','GR']
len(reference)

11

In [37]:
text = ['Average annual temperature', 
        'Annual average maximum temperature', 
        'Average annual minimum temperature',
        'Rain or snow precipitation total annual',
       'Annual average wind speed',
        'Number of days with rain',
        'Number of days with snow', 
        'Number of days with storm',
        'Number of foggy days',
        'Number of days with tornado',
        'Number of days with hail']

In [58]:
tabla_x= [reference, text] 

tabla_x

[['T', 'TM', 'Tm', 'PP', 'V', 'RA', 'SN', 'TS', 'FG', 'TN', 'GR'],
 ['Average annual temperature',
  'Annual average maximum temperature',
  'Average annual minimum temperature',
  'Rain or snow precipitation total annual',
  'Annual average wind speed',
  'Number of days with rain',
  'Number of days with snow',
  'Number of days with storm',
  'Number of foggy days',
  'Number of days with tornado',
  'Number of days with hail']]

In [68]:
tabla_2=pd.DataFrame(tabla_x)
tabla_2.T

     0                                        1
0    T               Average annual temperature
1   TM       Annual average maximum temperature
2   Tm       Average annual minimum temperature
3   PP  Rain or snow precipitation total annual
4    V                Annual average wind speed
5   RA                 Number of days with rain
6   SN                 Number of days with snow
7   TS                Number of days with storm
8   FG                     Number of foggy days
9   TN              Number of days with tornado
10  GR                 Number of days with hail

In [70]:
tabla_3= tabla_2.T

In [71]:
tabla_3.index = tabla_3[0]

In [74]:
tabla_3.drop(tabla_3.columns[0], axis=1, inplace=True)

In [79]:
tabla_3.columns = ['Reference']

In [81]:
tabla_3

                                  Reference
0
T                Average annual temperature
TM       Annual average maximum temperature
Tm       Average annual minimum temperature
PP  Rain or snow precipitation total annual
V                 Annual average wind speed
RA                 Number of days with rain
SN                 Number of days with snow
TS                Number of days with storm
FG                     Number of foggy days
TN              Number of days with tornado
GR                 Number of days with hail