In [113]:
import pandas as pd
import gzip
import csv
import json
import pandas as pd
from zipfile import ZipFile
import requests as req
from bs4 import BeautifulSoup as bs
import pandas as pd
from pprint import pprint
from lxml import html
from lxml.html import fromstring
import urllib.request
from urllib.request import urlopen
import random
import re
import scrapy
import pandas as pd
from selenium.webdriver.chrome.options import Options
from webdriver_manager.chrome import ChromeDriverManager
from selenium import webdriver

In [114]:
PATH=ChromeDriverManager().install()

In [115]:
from selenium.webdriver.common.by import By

In [118]:
url= 'https://es.wikipedia.org/wiki/Anexo:Ataques_terroristas'

In [119]:
driver=webdriver.Chrome(PATH)
driver.get(url)

/var/folders/bl/k3sl29m953728l636_vh_6dw0000gn/T/ipykernel_22401/2317264644.py:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver=webdriver.Chrome(PATH)

In [ ]:
#titulo de 2000-2009

In [120]:
titulos_00_09= driver.find_element(By.XPATH, '//*[@id="mw-content-text"]/div[1]/table[8]/thead')
titulos_00_09

In [123]:
titular = []

titulitos = titulos_00_09.find_elements(By.TAG_NAME, 'th')


for i in range(len(titulitos)):
    contenido= titulitos[i].text
    titular.append(contenido)
    
titular

['País', 'Fecha', 'Incidente', 'Detalles']

In [ ]:
#datos en tabla 2000-2009

In [128]:
tabla = driver.find_element(By.XPATH,'//*[@id="mw-content-text"]/div[1]/table[8]/tbody')

filas = tabla.find_elements(By.TAG_NAME, 'tr')

data=[]

for fila in filas:
    elementos = fila.find_elements(By.TAG_NAME,'td')
    t = []
    for e in elementos:
        t.append(e.text)
    data.append(t)

In [199]:
tabla_00_09=pd.DataFrame(data, columns=titular)

In [194]:
aux = tabla_00_09.T
aux

len(tabla_00_09.index)

for num in range(len(tabla_00_09.index)):
    aux[num][1] = aux[num][1][:4]
aux = aux.T

In [197]:
aux.head(5)

,País,Fecha,Incidente,Detalles
0,Alemania,2000,Asesinatos neonazis en Alemania de 2000-2007,"Los llamados Asesinatos del Bósforo, fueron un..."
1,Indonesia,2000,Atentado a la Bolsa de Valores de Yakarta,Un coche bomba estalló en el sótano del edific...
2,Yemen Estados Unidos,2000,Atentado contra el USS Cole,Un atentado suicida perpetrado por una célula ...
3,España,2001,Atentado de Rosas de 2001,Un coche bomba explota en un hotel turístico d...
4,Estados Unidos,2001,Atentados del 11 de septiembre de 2001,Atentados en las Torres Gemelas (en Nueva York...

In [200]:
aux.shape

(60, 4)

In [203]:
aux.columns

Index(['País', 'Fecha', 'Incidente', 'Detalles'], dtype='object')

In [215]:
aux.set_axis(['País', 'Year','Incidente', 'Detalles',], axis='columns', inplace=True)

In [216]:
aux.head()

,País,Year,Incidente,Detalles
0,Alemania,2000,Asesinatos neonazis en Alemania de 2000-2007,"Los llamados Asesinatos del Bósforo, fueron un..."
1,Indonesia,2000,Atentado a la Bolsa de Valores de Yakarta,Un coche bomba estalló en el sótano del edific...
2,Yemen Estados Unidos,2000,Atentado contra el USS Cole,Un atentado suicida perpetrado por una célula ...
3,España,2001,Atentado de Rosas de 2001,Un coche bomba explota en un hotel turístico d...
4,Estados Unidos,2001,Atentados del 11 de septiembre de 2001,Atentados en las Torres Gemelas (en Nueva York...

In [218]:
tabla_2000_2009= aux

In [221]:
tabla_2000_2009.to_csv('attacks_00_09.csv', index = False)

In [ ]:
#'''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''#

In [ ]:
#tabla 2010-2019

In [ ]:
#titulos 2010-2019

In [130]:
titulos_10_19= driver.find_element(By.XPATH, '//*[@id="mw-content-text"]/div[1]/table[9]/thead')
titulos_10_19

In [131]:
titular_2 = []

titulitos_2 = titulos_10_19.find_elements(By.TAG_NAME, 'th')


for i in range(len(titulitos_2)):
    contenido_2= titulitos_2[i].text
    titular_2.append(contenido_2)
    
titular_2

['País', 'Fecha', 'Incidente', 'Detalles']

In [ ]:
#datos en tabla 2010-2019

In [138]:
tabla_2 = driver.find_element(By.XPATH,'//*[@id="mw-content-text"]/div[1]/table[9]/tbody')

filas_2 = tabla_2.find_elements(By.TAG_NAME, 'tr')

data_2=[]

for fila in filas_2:
    elementos_2 = fila.find_elements(By.TAG_NAME,'td')
    t_2 = []
    for e in elementos_2:
        t_2.append(e.text)
    data_2.append(t_2)

In [168]:
tabla_2=pd.DataFrame(data_2, columns=titular_2)

tabla_2

,País,Fecha,Incidente,Detalles
0,Togo República del Congo Angola,"2010, 8 de enero",Ataque a la Selección de fútbol de Togo,Ataque terrorista en contra del bus de la Sele...
1,Estados Unidos,"2010, 18 de febrero",Atentado aéreo en Austin de 2010,Por motivos personales Joseph Andrew Stack est...
2,Rusia,"2010, 29 de marzo",Atentados del metro de Moscú de 2010,Dos ataques terroristas suicidas con bombas qu...
3,Estados Unidos,"2010, 1 de mayo",Atentado fallido de Times Square de 2010,Un fallido coche bomba fue desmantelado por el...
4,Uganda,"2010, 11 de julio",Atentados de Kampala de 2010,Tres explosiones en un restaurante de Kampala ...
...,...,...,...,...
233,México,"2019, 4 de noviembre",Masacre de la familia LeBaron,Ocurrió el 4 de noviembre de 2019 cuando presu...
234,Jordania,"2019, 6 de noviembre",Atentado en Jerash,Un hombre armado hirió a 8 personas en un ataq...
235,Reino Unido,"2019, 29 de noviembre",Atentado de Londres de 2019,Un ataque con cuchillo en el London Bridge dej...
236,Estados Unidos,"2019, 10 de diciembre",Tiroteo de Jersey City de 2019,Dos hombres armados producen un tiroteo masivo...
237,Somalia,"2019, 28 de diciembre",Atentado de Mogadiscio de 2019,Un atentado suicida con un camión bomba en un ...

In [169]:
tabla_2[['Year', 'Day/ Month',' ', '']] = tabla_2['Fecha'].str.split(',', expand=True)

In [202]:
tabla_2.columns

Index(['País', 'Fecha', 'Incidente', 'Detalles', 'Year', 'Day/ Month', ' ',
       ''],
      dtype='object')

In [206]:
tabla_2.drop(['Fecha', 'Day/ Month', ' ', ''], axis=1, inplace=True)

In [207]:
tabla_2

,País,Incidente,Detalles,Year
0,Togo República del Congo Angola,Ataque a la Selección de fútbol de Togo,Ataque terrorista en contra del bus de la Sele...,2010
1,Estados Unidos,Atentado aéreo en Austin de 2010,Por motivos personales Joseph Andrew Stack est...,2010
2,Rusia,Atentados del metro de Moscú de 2010,Dos ataques terroristas suicidas con bombas qu...,2010
3,Estados Unidos,Atentado fallido de Times Square de 2010,Un fallido coche bomba fue desmantelado por el...,2010
4,Uganda,Atentados de Kampala de 2010,Tres explosiones en un restaurante de Kampala ...,2010
...,...,...,...,...
233,México,Masacre de la familia LeBaron,Ocurrió el 4 de noviembre de 2019 cuando presu...,2019
234,Jordania,Atentado en Jerash,Un hombre armado hirió a 8 personas en un ataq...,2019
235,Reino Unido,Atentado de Londres de 2019,Un ataque con cuchillo en el London Bridge dej...,2019
236,Estados Unidos,Tiroteo de Jersey City de 2019,Dos hombres armados producen un tiroteo masivo...,2019
237,Somalia,Atentado de Mogadiscio de 2019,Un atentado suicida con un camión bomba en un ...,2019

In [213]:
tabla_2 = tabla_2[['País', 'Year', 'Incidente', 'Detalles']]

,País,Year,Incidente,Detalles
0,Togo República del Congo Angola,2010,Ataque a la Selección de fútbol de Togo,Ataque terrorista en contra del bus de la Sele...
1,Estados Unidos,2010,Atentado aéreo en Austin de 2010,Por motivos personales Joseph Andrew Stack est...
2,Rusia,2010,Atentados del metro de Moscú de 2010,Dos ataques terroristas suicidas con bombas qu...
3,Estados Unidos,2010,Atentado fallido de Times Square de 2010,Un fallido coche bomba fue desmantelado por el...
4,Uganda,2010,Atentados de Kampala de 2010,Tres explosiones en un restaurante de Kampala ...
...,...,...,...,...
233,México,2019,Masacre de la familia LeBaron,Ocurrió el 4 de noviembre de 2019 cuando presu...
234,Jordania,2019,Atentado en Jerash,Un hombre armado hirió a 8 personas en un ataq...
235,Reino Unido,2019,Atentado de Londres de 2019,Un ataque con cuchillo en el London Bridge dej...
236,Estados Unidos,2019,Tiroteo de Jersey City de 2019,Dos hombres armados producen un tiroteo masivo...
237,Somalia,2019,Atentado de Mogadiscio de 2019,Un atentado suicida con un camión bomba en un ...

In [220]:
tabla_2

,País,Year,Incidente,Detalles
0,Togo República del Congo Angola,2010,Ataque a la Selección de fútbol de Togo,Ataque terrorista en contra del bus de la Sele...
1,Estados Unidos,2010,Atentado aéreo en Austin de 2010,Por motivos personales Joseph Andrew Stack est...
2,Rusia,2010,Atentados del metro de Moscú de 2010,Dos ataques terroristas suicidas con bombas qu...
3,Estados Unidos,2010,Atentado fallido de Times Square de 2010,Un fallido coche bomba fue desmantelado por el...
4,Uganda,2010,Atentados de Kampala de 2010,Tres explosiones en un restaurante de Kampala ...
...,...,...,...,...
233,México,2019,Masacre de la familia LeBaron,Ocurrió el 4 de noviembre de 2019 cuando presu...
234,Jordania,2019,Atentado en Jerash,Un hombre armado hirió a 8 personas en un ataq...
235,Reino Unido,2019,Atentado de Londres de 2019,Un ataque con cuchillo en el London Bridge dej...
236,Estados Unidos,2019,Tiroteo de Jersey City de 2019,Dos hombres armados producen un tiroteo masivo...
237,Somalia,2019,Atentado de Mogadiscio de 2019,Un atentado suicida con un camión bomba en un ...

In [222]:
tabla_2.to_csv('attacks_10_19.csv', index = False)